@font-face {
	font-family: Myriad Pro; /* Имя шрифта */
	src: url("../fonts/MyriadPro.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: OpenSans; /* Имя шрифта */
	src: url("../fonts/OpenSans.ttf"); /* Путь к файлу со шрифтом */
}

@font-face{
	font-family: Gotham;
	src: url("../fonts/Gotham.otf");
}

html,body{
	margin: 0;
}

.header{
	background-image: url("../images/Layer96.png");
	background-attachment: fixed;
	height: 100vh;
}

.container{
	margin: 0 10%;
}

.header .logo{
	display: inline-block;
	position: relative;
	float: left;
	margin: 30px 8px 20px 8px;
}

.header .logo .visibleLogo{
	background-color: rgb(17, 116, 158);
	position: absolute;
	display: table;
	left: -12px;
	top: -8px;
	width: 67px;
	height: 67px;
	z-index: 1;
}

.header .logo .visibleLogo p{
	text-align: center; 
	vertical-align: middle;
	display: table-cell;
	font-size: 28.349px;
	font-family: "OpenSans";
	color: rgb(245, 245, 245);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.header .logo .shadowLogo{
	background-color: rgb(255, 255, 255);
	opacity: 0.749;
	width: 67px;
	height: 67px;
}

div.right {
	float: right;
	margin-top: 40px;
}

nav,
div.social{
	display: inline-block;
}

.social{
	display: inline;
}

.social span{
	padding: 0 10px;
}

[class^="flaticon-"]{
	color: #ffffff;
}

[class^="flaticon-"]:hover{
	color: rgb(17, 116, 158);
}

ul.nav{
	margin: 0 35px;
}

ul.nav li{
	display: inline-block;
}

a{
	text-decoration: none;
}

ul.nav li a{
	font-size: 20px;
	font-family: "Myriad Pro";
	line-height: 1.2;
	color: rgb(255, 255, 255);
	padding: 40px 10px 50px 10px;
	font-weight: normal;
	margin: 0;
}

ul.nav li a:hover{
	background: transparent;
	border-bottom: 6px solid rgb(17, 116, 158);
}

[class^="flaticon-"]:hover{
	color: rgb(17, 116, 158);
}

#checkbox_id, #button_id{
	display: none;
}

@media screen and (max-width: 348px)  {
	div.right {
		margin-top: 0px;
	}
}

@media screen and (max-width: 1058px)  {
	#button_id{
		display: inline-block;
	}
	
	nav{
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
	}

	#checkbox_id:checked ~ nav{
		display: block;
	}

	ul.nav{
		padding: 0;
	}

	nav ul.nav li{
		display: block;
		padding: 0;
		margin: 10px 0;
	}

	nav ul.nav li a{
		padding: 0px 10px;
	}
}

.menu{
	position: relative;
}
