@font-face {
	font-family: Myriad Pro; /* Имя шрифта */
	src: url(../fonts/MyriadPro.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: OpenSans; /* Имя шрифта */
	src: url(../fonts/OpenSans.ttf); /* Путь к файлу со шрифтом */
}

.header{
	background-image: url("../images/Layer96.png");
}

.header .logo{
	display: inline-block;
	position: relative;
	float: left;
	margin: 30px 8px 20px 8px;
	margin-right: 192px;
}

.header .logo .visibleLogo{
	background-color: rgb(17, 116, 158);
	position: absolute;
	display: table;
	left: -12px;
	top: -8px;
	width: 67px;
	height: 67px;
	z-index: 1;
}

.header .logo .visibleLogo p{
	text-align:center; 
	vertical-align: middle;
	display: table-cell;
	font-size: 28.349px;
	font-family: "OpenSans";
	color: rgb(245, 245, 245);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.header .logo .shadowLogo{
	background-color: rgb(255, 255, 255);
	opacity: 0.749;
	width: 67px;
	height: 67px;
}

.header hr{
	margin: 0px;
	opacity: 0.38;
}

ul.nav{
	margin: 30px 35px 0 35px;
}

ul.nav li a{
	font-size: 20px;
	font-family: "Myriad Pro";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	padding-bottom: 42px;
	font-weight: normal;
}

ul.nav li.active{
	border-bottom: 6px solid rgb(17, 116, 158);

}

ul.nav li a:hover{
	background: transparent;
}